<button class="whatsappButton"><a href="https://api.whatsapp.com/send?phone=5491124847479"><div><img src="/images/social-whatsapp-circle-512.png" alt=""></div></a></button>
<footer>
    <div class="footer-iconos">
        <a href="https://www.facebook.com/Drinking-Time-103215035044745/?view_public_for=103215035044745"><i class="fab fa-facebook-square"></i> </a>
        <a href="https://www.instagram.com/drinkingtime20/"><i class="fab fa-instagram"></i></a>
        <a href="https://goo.gl/maps/seRkQ2n4LoG6Dj5L7"><i class="fas fa-map-marked-alt"></i></a>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2020 | Grupo 6 - C22, Digital House | CABA - Argentina</p> 
    </div>
</footer>