<footer>
    <div class="footer-iconos">
        <a href="https://www.facebook.com/Drinking-Time-103215035044745/?view_public_for=103215035044745"><i class="fab fa-facebook-square"></i> </a>
        <a href="https://www.instagram.com/drinkingtime20/"><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fas fa-map-marked-alt"></i></a>
        <a href=""><i class="far fa-envelope"></i></a>
    </div>
</footer>