<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <%- include("./partials/header.ejs") %> 
        <section class="sections-container">
             <div class="promociones">
                 <div class="sections-titles">
                    <a href="/productCatalog">
                        <h2 class="sections-titles">PROMOCIONES</h2>
                    </a>
                 </div>
             </div>
             <div class="cervezas">
                <h2 class="sections-titles">CERVEZAS</h2>
                <img src="" alt="">
            </div>
            <div class="vinos-espumantes">
                <h2 class="sections-titles">VINOS</h2>
                <img src="" alt="">
            </div>

            <div class="aperitivos">
                <h2 class="sections-titles">APERITIVOS</h2>
                <img src="" alt="">
            </div>

            <div class="espirituosas">
                <h2 class="sections-titles">ESPIRITUOSAS</h2>
                <img src="" alt="">
            </div>
            

        </section>
        <%- include("./partials/footer.ejs") %>
    </main>

</body>
</html>