<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRINKING TIME</title>
    
</head>
<body>
    <main>
        <header class="header-container">

            <div class="header-container-logo">


            
                <img src="/images/cervezas/andes-ipa.jpg" class="logo" alt="">

            
                <div class="button-loggin-carrito">

                    <button class="button-login">
                        <i class="fas fa-sign-in"></i>
                    </button>

                    <button class="button-carrito">
                        <i class="fas fa-box-full"></i>
                    </button>
                </div>    
            </div>
            <div class="barra-de-busqueda">
                <input type="search" class="barra" placeholder="Encuentra tu bebida" >
                <button>B</button>
            </div>

        </header>
        
        <section class="sections-container">
             <div class="sections"></div>
            

        </section>

        <footer>


        </footer>






    </main>

</body>
</html>