<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("./partials/head.ejs") %>


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">

            <section class="log-container">
                
                <h2 class="log-title">Iniciar sesión</h2>
                    
                
            
                <form class="formulario-login" action="/login" method="POST">
                        
                    <p>Ingresa tu email</p>
                    
                    <label for="email"></label>
                    <input type="email" name="email">
                        
                    <p>Ingresa tu contraseña</p>
                    <label for="password"></label>
                    <input type="password" name="password" id="password">
                        
                    <input type="submit" value="Inicia sesion" class="ingresar">
                    
                </form>

                    <a href="/register" class="ingresar"> <p>Crear usuario</p></a>
                    

                    </div>

                
            </section>
        </div>


        <%- include("./partials/footer.ejs") %>
    </main>
    
</body>
</html>