<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("./partials/head.ejs") %>


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">
            <h1 class="container-log">Inicia Sesion</h1>
            <section class="log-container">
                <form action="/" method="POST">
                    <label for="usuario"></label>
                    <input placeholder="Nombre de usuario" type="text" id="usuario" name="usuario">
                    <br>
                    <br>
                    <label for="contraseña"></label>
                    <input type="password" placeholder="Ingresa tu contraseña" name="contraseña" id="contraseña">
                    <br>
                    <br>
                    <input type="submit" value="Inicia sesion" class="ingresar">
                    <br>
                    <br> 
                    <a href="/registrate"> <p>¿Olvidaste tu contraseña?</p></a>
                    <a href="/register"> <p>Crear usuario</p></a>
                </form>
            
            </section>
        </div>


        <%- include("./partials/footer.ejs") %>
    </main>
    
</body>
</html>