<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("./partials/head.ejs") %>


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">

            <section class="log-container">
                
                <h1 class="log-title">Iniciar sesión</h1>
                    
                
            
                <form class="formulario-login" action="/" method="POST">
                        
                    <p>Ingresa tu usuario</p>
                    
                    <label for="usuario"></label>
                    <input type="text" id="usuario" name="usuario">
                        
                    <p>Ingresa tu contraseña</p>
                    <label for="contraseña"></label>
                    <input type="password" name="contraseña" id="contraseña">
                        
                    <input type="submit" value="Inicia sesion" class="ingresar">
                    
                    <p>o</p>
                        
                    <p>¿Olvidaste tu contraseña?</p>
                    <label for="email"></label>
                    <input type="email" name="email" id="email">
                    

                    <input type="submit" value="Recuperar" class="ingresar">
                    
                    <a href="/register"> <p>Crear usuario</p></a>
                    </form>

                    </div>

                
            </section>
        </div>


        <%- include("./partials/footer.ejs") %>
    </main>
    
</body>
</html>