<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>DRINKING TIME</title>
    
</head>
<body>
    <main>
        <header class="header-container">
            <div class="header-container-logo">

                <img src="/images/cervezas/andes-ipa.jpg" class="logo" alt="">
                
                <div class="button-loggin-carrito">
                    <i class="fas fa-sign-out-alt"></i>
                    <i class="fas fa-box-open"></i>
                </div>   
            </div>
            <div class="barra-de-busqueda">
                <input type="search" class="barra" placeholder="Encontrá tu bebida" >
                <button><i class="fas fa-glass-cheers"></i></button>
            </div>

        </header>

        <footer>
            <div>
                <abbr title="Facebook"><i class="fab fa-facebook-square"></i></abbr>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-map-marked-alt"></i>
                <i class="far fa-envelope"></i>

            </div>


        </footer>






    </main>

</body>
</html>