<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/productUsersList.css">

<body>
    <main>
        <%- include("./partials/header.ejs") %>


        <div class="principal">

            <div class="principal-container-left"> 
                <table class="product-table">
                    <thead>
                    <tr>
                        <th>Nombre</th> 
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                    <tr>
                        <td>IPA ANDINA - ANDES six pack</td> 
                        <td>Lorem ipsum dolor...</td>
                        <th>Imagen</th>
                        <th>Cerveza</th>
                        <th>Andes</th>
                        <th>$365.00</th>
                        <th><i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </th>
                    </tr>
                </tbody>
        
                </table>
            </div>



        </div>   
        <%- include("./partials/footer.ejs") %>
    </main>
</body>