<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/productDetail.css">

<body>
    <main>
        <%- include("./partials/header.ejs") %>
            <section class="product-detail-container">

                <div class="photo-product-detail-container">
                    <img src="/images/cervezas/andes-ipa.jpg" alt="" class="photo-product">
                </div>
                <div class="name-info-product-detail-container">
                    <h3 class="product-title">IPA ANDINA - ANDES six pack </h3>
                
                    <p class="info-product">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <h4>$365.00</h4>
                </div>
                <div class="add-to-cart-prodcuto-detail-container">  
                    <a href="">   
                    <button>Agregar al carrito</button> </a>

                </div>


            </section>
            <%- include("./partials/footer.ejs") %>

    </main>
    
</body>
</html>