<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <main>
        <header class="header-container">
            <div class="header-container-logo">

                <a href="/">
                    <img src="/images/logo-corona.png" class="logo" alt=""> 
                </a>
                    <nav class="nav-bar">
                        <ul>
                            <li><a href="">PROMOCIONES</a></li>
                            <li><a href="">CERVEZAS</a></li>
                            <li><a href="">VINOS</a></li>
                            <li><a href="">ESPUMANTES</a></li>
                            <li><a href="">APERITIVOS</a></li>
                            <li><a href="">ESPIRITUOSAS</a></li>
                        </ul>
                    </nav>
                <div class="button-loggin-carrito">

                    <a href="/inicia-sesion"> <i class="fas fa-sign-out-alt"></i> </a>
                    <a href="/carrito-de-compras"> <i class="fas fa-box-open"></i> </a>
                    <a><i class="fas fa-bars"></i></button></a>

                </div>  
            </div>
            <div class="barra-de-busqueda">
                <input type="search" class="barra" placeholder="Encontrá tu bebida" >
                <button><i class="fas fa-glass-cheers"></i></button>
            </div>

        </header>
            <section class="product-detail-container">

                <div class="photo-product-detail-container">
                    <img src="/images/cervezas/andes-ipa.jpg" alt="" class="photo-product">
                </div>
                <div class="name-info-product-detail-container">
                    <h3 class="product-title">IPA ANDINA - ANDES six pack </h3>
                
                    <p class="info-product">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <h4>$365.00</h4>
                </div>
                <div class="add-to-cart-prodcuto-detail-container">  
                    <a href="">   
                    <button>Agregar al carrito</button> </a>

                </div>


            </section>
        
        <footer>
            <div class="footer-iconos">
                <a href=""><i class="fab fa-facebook-square"></i> </a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fas fa-map-marked-alt"></i></a>
                <a href=""><i class="far fa-envelope"></i></a>

            </div>


        </footer>



    </main>
    
</body>
</html>