<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include("./partials/head.ejs") %>

<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="profile-principal-container">

            <div class="profile-container">
                
                
                <div class="profile-img-container">
                    <div>
                    <img src="/images/imagen-1611507987252.jpeg" alt="" class="profile-img">
                    </div>
                </div>

                <div class="profile-name">
                    <h2>Camilo Rojas</h2>
                </div>

                <div class="contact-info">
                <table class="contact-info-table">
                    <thead >
                        <tr>
                            <th>F. Nac:</th>
                            <th>06/27/1995</th>
                        </tr>

                        <tr>
                            <th>Tel:</th>
                            <th>1124847479</th>
                        </tr>

                        <tr>
                            <th>Dir:</th>
                            <th>Av. Corrientes 4000</th>
                        </tr>

                        <tr>
                            <th>email:</th>
                            <th>admin@admin.com</th>
                        </tr>

                    </thead>
                </table>
                    
                </div>

                <div class="buttons-container">
                <button><a href="/users/profile/edit/:id">Editar perfil</a></button>
                <button><a href="/users/profile/productList">Lista de productos</a></button>
                <button><a href="/products">Catalogo</a></button>
                <button><a href="">Cerrar sessión</a></button>                    

                </div>



            </div>
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </main>
</body>