<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include("./partials/head.ejs") %>

<body>
    <main>
        <%- include("./partials/header.ejs") %>


        <P>ACA VA MI PERFIL</P>


        <%- include("./partials/footer.ejs") %>
    </main>
</body>