<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/register.css">


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">

            <section class="log-container">

            
                <h1 class="log-title">Ingresá tus datos </h1>
        


                <form action="/" method="POST" class="formulario-login">

                    <label for="email"></label>
                    <input placeholder="Ingrese su email" type="email" name="email" id="email">
                   

                    <label for="Contraseña"></label>
                    <input type="password" placeholder="Ingrese su contraseña" name="contraseña" id="contraseña">
                    

                    <label for="Confirme contraseña"></label>
                    <input type="password" placeholder="Confirme contraseña">
                    

                    <label for="Nombre y apellido"></label>
                    <input placeholder="Nombre y apellido" type="text">
                    

                    <p>Fecha de Nacimiento</p>
                    <label for="Nacimiento"></label>
                    <input type="date" placeholder="Nacimiento" name="Nacimiento" id="Nacimiento">
                    <br>

                    <input type="submit" value="Registrarse" class="ingresar">

            </section>
        </div>
        <%- include("./partials/footer.ejs") %>
    </main>
</body>