*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header-container{
   background-color: salmon;
   height: 15vh;
}

.header-container-logo{
    box-sizing: border-box;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px
}


.logo{ 
    width: 80px;
    display: inline-block;
}

.button-loggin-carrito {
    width: 5%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: white;    
}

.button-loggin-carrito i{
    margin: 5px;
}

.barra-de-busqueda{
    background-color: #ff9100;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.barra-de-busqueda button{
    margin-left: 2px;
}

.barra{
    width: 100%;
    padding: 2px;
     
}
.fa-glass-cheers{
    padding: 3px;
}

.sections-container{
    height: 70vh;
}

.promociones{
    height: 25%;
    display: flex;
    
}

.promociones img{
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
}

.promociones:hover img{
    filter: grayscale(0);
}

.cervezas{
    height: 20%;
    display: flex;
}

.cervezas img{
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
}



.cervezas:hover img{
    filter: grayscale(0);
}

.vinos-espumantes{
    display: flex;
    height: 20%;

}

.vinos-espumantes img{
    width: 100%;    
    filter: grayscale(1);
    object-fit: cover;
}

.vinos-espumantes:hover img{
    filter: grayscale(0);
}


.aperitivos{
    display: flex;
    height: 20%;

}

.aperitivos img{
    width: 100%;    
    filter: grayscale(1);
    object-fit: cover;
}

.aperitivos:hover img{
    filter: grayscale(0);
}


.espirituosas {
    display: flex;
    height: 15%;

}

.espirituosas img{
    width: 100%;    
    filter: grayscale(1);
    object-fit: cover;
}

.espirituosas:hover img{
    filter: grayscale(0);
}

footer {
    height: 10vh;
    background-color:#800020;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

footer div{
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;

}