*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header-container{
   background-color: salmon;
   height: 15vh;
   
}

.header-container-logo{
    padding: 10px;
    width: 100%;
    height: 60%;
    background-color: indigo;
}


.logo{ 
    width: 120px;
    height: 45px;
    display: inline-block;
}

.button-loggin-carrito {
    display: inline-block;
    width:30%
}

.button-login{


}

.button-carrito{


}

.barra-de-busqueda{
    background-color: grey;
    height: 40%;
}

.barra{
     
}