.principal{
    height: 72vh;
    background-image: url('/images/red-smoke-1168208.jpg');
    background-size: cover;
    background-position: center;
    padding: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.edit-form{
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5%;
    justify-content: center;
    text-align: center;
    background-color: rgba(80, 00, 20,0.9);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);

}

.principal-container-right-title{
    margin: 5px;
    color:wheat;
    font-size: 18px;
    font-weight: 500;
}

label{
    color:wheat;
    font-size: 14px;
}

input{
    border-radius: 15px;
    font-size: 15px;
    width: 95%;  
    margin-bottom: 3px;
}



.subir-imagen{
    border-radius: 5px;
    border: none;
}

.selector-categorias{
    border: none;
    margin: 5px;
    font-size: 15px;
    border-color: grey;
    border-radius: 5px;
}

li {
    list-style: none;
}

.crear-producto-input{
    width: 50%;
    border:none;
    border-radius: 15px;
    padding: 3px;
    background-color:  rgba(80, 00, 20,0.7 );
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;   
}

@media(min-width: 590px){
    .edit-form{
        width: 50%;
    }
    
}

@media(min-width: 900px){
    .edit-form{
        width: 40%; 
}

}

@media(min-width: 900px){

    .principal-container-right-title{
        margin: 15px;
        color:wheat;
        font-size: 24px;
        font-weight: 500;
    }
    
    .edit-form{
        width: 30%;
    }

    .crear-producto-input{
        margin-top: 20px;
    }

}