.principal {
    height: 72vh;
    background-image: url('/images/red-smoke-1168208.jpg');
    background-size: cover;
    background-position: center;
    padding: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.imagen{
    margin-top: 40px;
    height: 63%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    border-radius: 15px;
}


@media(min-width: 768px){
    .imagen{
        margin-top: 25px;
        height: 80%;
    }
    
    
}    

@media(min-width: 1024px){
    .imagen{
        margin-top: 15px;
        height: 90%;
    }
    
}
   

@media(min-width: 1440px){
    .imagen{
        margin-top: 1px;
        height: 100%;
    }
    
}