

.product-detail-container{
    height: 70vh;
    padding: 5px;
    margin-bottom: 5px;
}

.photo-product-detail-container{
    height: 65%;
    display: flex;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
}

.photo-product{
    box-sizing: content-box;
    width: 250px;
    display: block;
    margin: auto;
    
}

.name-info-product-detail-container{
    height: 22%;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.product-title{
    font-size: 20px;

}

.info-product{
    

}

.add-to-cart-prodcuto-detail-container{
    height: 10%;
    padding: 10px 10px ;
    text-align: center;
}

.add-to-cart-prodcuto-detail-container button{
    height: 40px;
    width: 100px;
    font-weight: bold;
    padding: 2px;
    margin: auto;
}

footer{
    position: absolute;
    margin-bottom: 0%;
    width: 100%;

}

@media(min-width: 1024px){
.product-detail-container{
        height: 70vh;
        padding: 5px 10px;
        margin-bottom: 5px;
        display: flex;
    }



.photo-product-detail-container{
        display: inline-block;
        width: 60%;
        height: 85%;
        margin: auto;
    }

.name-info-product-detail-container{
        display: inline-block;
        width: 40%;
        height: 85%;
        vertical-align: top;
        margin: auto;
    }

    .photo-product{
        box-sizing: content-box;
        width: 340px;
        display: block;
        margin: auto;
        
    }    

.add-to-cart-prodcuto-detail-container{
    vertical-align: bottom;
}

.product-title{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.info-product{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;

}

.price-product{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 30px;}

}