.principal{
    display: flex;
    height: 70vh;
    padding-left: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.principal-container-left{
    display: inline-block;
    width: 70%;
}

.product-table{
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px  0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.product-table thead tr {
    background-color: #800020;
    color: white;
    text-align: left;
    padding: 5px;
}

.product-table th, 
.product-table td {
    padding: 12px 15px ;
}

.product-table tbody tr {
    border-bottom: 1px solid gray;
}

i{
    color: #800020;
    
}

.principal-container-right{
    background-color: rgba(80, 00, 20,0.1);
    width: 28%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;


}

.principal-container-right-title{
    font-size: 20px;
    margin-bottom: 15px;
}

label{
    font-size: 16px;
    font-weight: 550;
}

input{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;

}



.subir-imagen{
    border-radius: 5px;
    border: none;
}

.selector-categorias{
    border: none;
    margin: 5px;
    font-size: 15px;
    border-color: grey;
    border-radius: 5px;
}

li {
    list-style: none;
}

.crear-producto-input{
    font-weight: 550;
    font-size: 18px;
    margin-top: 25px;
    background-color:  rgba(80, 00, 20,0.5 );
}

@media(max-width: 1000px){
    .principal{
        flex-wrap: wrap;
    }

    .principal-container-left{
        display:block;
        width: auto;
    }


    .principal-container-right{
        display: block;
        width: auto
}