

.principal{
    height: 71vh;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;
    background-color: rgba(255, 245, 245, 0.95);
    
}
.product-detail-container{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    background-color: white;
    border-radius: 5px;
    width: 80%;
    height: 95%;
   
}

.photo-product-detail-container{
    height: 65%;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.photo-product{
    box-sizing: content-box;
    width: 70%;
    display: block;
    margin: auto;
    overflow: hidden;
    
}

.name-info-product-detail-container{
    height: 22%;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.product-title{
    font-size: 20px;
    font-weight: 500;

}

.add-to-cart-prodcuto-detail-container{
    height: 10%;
    text-align: center;
}

.price-product{
    text-align: right;
    font-size: 24px;
    margin-right: 5px;

}

.add-to-cart-prodcuto-detail-container button{
    border:none;
    border-radius: 5px;
    background-color:  rgba(80, 00, 20,0.9 );
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 12px;
    font-weight: 500;
    color: white;

}

footer{
    position: absolute;
    margin-bottom: 0%;
    width: 100%;

}


@media(min-width: 380px){
    .photo-product{
        width: 42%;

    }
}

@media(min-width: 610px){
    .photo-product{
        width: 32%;
    }
    .product-title{
        font-size: 30px;
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 20px;
    }
}


@media(min-width: 800px){
    .product-detail-container{
        width: 50%  ;
    }
    .photo-product{
        width: 40%;

    }
}

@media(min-width: 1024px){
    .product-detail-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 0 0;
        width: 90%;
        justify-content: space-around;
    }
    
    .photo-product-detail-container{
        width: 40%;
        height: 95%;
        padding: 0;
        border-bottom: white;
        
    }
    .photo-product{
        width: 80%;
    }

    .name-info-product-detail-container{
        width: 40%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name-info-product-detail-container h4{
        text-align: right;
        margin: 20px 0px 40px 0;
        width: 80%;
    }


    .add-to-cart-prodcuto-detail-container{
        position: relative;
        margin-bottom: 20%;       
    }

    .product-title {
        font-size: 40px;
        margin: 20px 0 20px 0;
        
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 20px;
    }

}

@media(min-width: 1440px) {

    .photo-product{
        width: 80%;
    }

    .product-title {
        font-size: 60px;
    }
    .name-info-product-detail-container p {
        font-size: 30px;
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 30px;
    }
}