.principal{
    display: flex;
    height: 72vh;
    padding-left: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
}

.principal-container{
    width: 95%;
}

.product-table{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px  0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.product-table thead tr {
    background-color: #800020;
    color: white;
    text-align: left;
    padding: 5px;
}

.product-table th, 
.product-table td {
    padding: 12px 15px ;
}

.product-table th .edit-colum{
    width: 10px;
}
.product-table tbody tr {
    border-bottom: 1px solid gray;
}


i{
    color: #800020;
    
}
 
