

.principal{
    height: 72vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: url('/images/red-smoke-1168208.jpg');
    
}
.product-detail-container{
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    background-color: white;
    border-radius: 5px;
    width: 80%;
    height: 95%;
    margin-top: 5px;

}

.photo-product-detail-container{
    height: 60%;
    display: flex;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%)
}

.photo-product{
    box-sizing: content-box;
    width: 70%;
    display: block;
    margin: auto;
    overflow: hidden;
    
}

.name-info-product-detail-container{
    height: 22%;
    background-color: white;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 5px 2px 0px 5px ;
}

.product-title{
    font-size: 20px;
    font-weight: 500;

}
.linksDetail{
    font-style: italic;
    color: #800220;
    font-size: 8px;
}

.linksDetail a{
    font-style: italic;
    color: #800220;
    font-size: 8px;
}

.add-to-cart-prodcuto-detail-container{
    height: 10%;
    text-align: center;
    color: wheat;
    
}

.price-product{
    text-align: right;
    font-size: 24px;
    margin-right: 5px;
    font-weight: 400;
}

.add-to-cart-prodcuto-detail-container button{
    border:none;
    border-radius: 5px;
    background-color:  rgba(80, 00, 20,0.9 );
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 12px;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 40%);
    color: wheat;

}


@media(min-width: 380px){
    .product-detail-container{
        width: 55%;
    }

    .photo-product{
        width: 42%;

    }
}

@media(min-width: 610px){
    .photo-product{
        width: 32%;
    }
    .product-title{
        font-size: 30px;
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 20px;
    }
}

@media(min-width: 768px){
    .product-detail-container{
        width: 50%;
    }
}


@media(min-width: 768px){
    .product-detail-container{
        width: 50%  ;
    }
    .photo-product{
        width: 40%;

    }
}

@media(min-width: 1024px){
    .principal{
        padding-top: 20px;
    }

    .product-detail-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 0 0;
        width: 65%;
        justify-content: space-around;
    }
    
    .photo-product-detail-container{
        width: 40%;
        height: 90%;
        margin: auto;
        border-bottom: white;
    }
    .photo-product{
        width: 80%;
    }

    .name-info-product-detail-container{
        width: 40%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name-info-product-detail-container h4{
        text-align: right;
        margin: 20px 0px 40px 0;
        width: 80%;
    }


    .add-to-cart-prodcuto-detail-container{
        position: relative;
        margin-bottom: 20%;      
    }

    .product-title {
        font-size: 40px;
        margin: 20px 0 20px 0;
        
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 20px;
        color: wheat;
    }

}

@media(min-width: 1440px) {

    .product-detail-container{
        width: 65%;
    }

    .photo-product{
        width: 80%;
    }

    .product-title {
        font-size: 60px;
    }
    .name-info-product-detail-container p {
        font-size: 30px;
    }

    .add-to-cart-prodcuto-detail-container button p {
        font-size: 30px;
    }
}