.principal{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-cart {
    width: 100%;
    padding: 5px;
}

.section-cart .producto {
    width: 100%;
    display: flex;
    border: black 1px solid;
    height: 30%;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    margin: 5px 0;
    background-color: lightgrey;
    
}

.section-cart .producto .descripcion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    padding-right: 50px;
    font-size: 15px;
    
}

.section-cart .producto .descripcion input{
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 65px;
    
}

.section-cart .producto p{
    font-size: 15px;
}





.section-cart div img{
    width: 60px;
    height: 40px;
    
}

.total {
    background-color: lightslategray;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 0;
    
    
}

.total .sub-total{
    border-bottom: 1px solid black;
    padding: 10px;
}

.total .sub-total div{
    display: flex;
    justify-content: space-between;
}

.total .total-final{
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.total .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    
    
}

.total button {
    width: 90px;
    height: 30px;
    font-weight: bold; 
    border: 1px solid black;   
}

