.principal{
    height: 72vh;
    padding-left: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: rgba(255, 245, 245, 0.95);
}

.principal-container{
    width: 95%;
}

.product-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px  0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    
}

.product-table thead tr {
    background-color: #800020;
    color: white;
    text-align: left;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 40%);
}

.product-table th, 
.product-table td {
    padding: 12px 15px ;
}

.product-table th .edit-colum{
    width: 10px;
}
.product-table tbody tr {
    border-bottom: 1px solid gray;
}


i{
    color: #800020;
    
}


.buttons-container{
    height: 20px;
    flex-wrap: wrap;
}

.buttons-container button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: #800020;
    padding: 3px;
    margin:10px 0px;
    width: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 40%);
    
}
 
.buttons-container button a {
    text-decoration: none;
    color: white;
}