.profile-details-container{
    height: 72vh;
    background-image: url('/images/red-smoke-1168208.jpg');
    background-size: cover;
    background-position: center;
    padding: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.profile-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: rgba(80, 00, 20,0.9);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    padding: 7px;

}
 

label{
    margin: 5px;
    color:wheat;
    font-size: 16px;
}

input{
    width: 90%;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 3px;
    height: 25px;

}

.editar {
    width: 50%;
    border:none;
    border-radius: 15px;
    padding: 3px;
    background-color:  rgba(80, 00, 20,0.7 );
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;      
}

.profile-container-imagen{
    box-sizing: content-box;
    width: 10%;
    display: block;
    margin: auto;
    overflow: hidden;
}


@media(min-width: 768px){
    .profile-container{
        width: 50%;
    }
    
}

@media(min-width: 1024px){
    .profile-container{
        width: 40%;
    }
     
}

