.profile-principal-container{
    height: 72vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-image: url('/images/red-smoke-1168208.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.profile-container{
    width: 100%;
    background-color: rgba(80, 00, 20,0.9);
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
    height: fit-content;
}


.profile-name{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color:blanchedalmond;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
    opacity: 0.9;
}

.profile-name h2 {
    color: black;
    font-weight: 400;
    font-size: 24px;
    
}

.profile-img-container{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    
}

.contact-info-table{
    width: 100%;
    margin: 15px 10px 10px 10px;
}

.contact-info-table th{
    font-weight: 500;
    color: cornsilk;
}

.buttons-container{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.buttons-container button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(80, 00, 20,0.9 );
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    padding: 2px;
    margin: 5px;
    width: 43%;
}

.buttons-container button a {
    text-decoration: none;
    color: cornsilk;
}

.form-cerrar{
    width: 50%;
    margin: auto;
}

.buttons-cerrar{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(80, 00, 20,0.9 );
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    padding: 2px;
    margin: 5px;
    width: 80%;
    text-decoration: none;
    color: cornsilk;
}

@media(min-width: 425px){
    .contact-info-table th {
        width: 45%;
    }

}

@media(min-width: 768px){
    .profile-container{
        width: 60%;
    }

}

@media(min-width: 1024px){
    .profile-img{
        width: 120px;
        height: 120px;
        
    }
    


    .profile-container{
        width: 50%;
    }
    
}


@media(min-width: 1440px){
    .profile-container{
        width: 40%;
    }

    .profile-img{
        width: 145px;
        height: 145px;
        
    }
    .buttons-container{
        margin-top: 20px;
    }
    
}