.principal{
    height: 70vh;
    padding-top: 30px;
}

.container-titulo{
    text-align: center;
    color: #800020;
}

.container-formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
}

.container-formulario input{
    height: 25px;
}

.container-formulario button {
    width: 90px;
    height: 30px;
}

.register-button{
    border:none;
    border-radius: 5px;
    background-color:  rgba(80, 00, 20,0.5 );
    margin-top: 5px;
    margin-bottom: 5px;

}