.principal{
    height: 72vh;
    background-image: url('/images/red-smoke-1168208.jpg');
    background-size: cover;
    background-position: center;
    padding: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-y: auto;
    
}

.log-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5%;
    justify-content: center;
    text-align: center;
    background-color: rgba(80, 00, 20,0.9);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
}


.log-title{
    margin-top: 10px;
    text-align: center;
    color:wheat;
    width: 80%;
    font-size: 30px;
    font-weight: 500;
}


.log-avatar{
    margin-top: 10px;
    text-align: center;
    color:wheat;
    width: 80%;
    font-size: 12px;
    font-weight: 500;
}

.log-avatar-imagen{
    margin-top: 5px;
    text-align: center; 
    color:wheat;
    font-size: 17px;
    font-weight: 50;  
}


.log-container input{
    height: 25px;
    text-align: center;
    width: 80%;
    margin-bottom: 5px;
    border-radius: 15px;
}

.formulario-login p{
    color: white;
    margin-bottom: 3px;

}

.log-container .ingresar{
    width: 90px;
}

.ingresar{
    border:none;
    border-radius: 5px;
    background-color:  rgba(80, 00, 20,0.7 );
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;

}


@media(min-width: 768px){
    .log-container {
        width: 50%;
     }

    .log-title{
        font-size: 40px;
    }

    .log-container input {
        margin-bottom: 10px;
    }
    
}

@media(min-width: 1024px){
    .principal{
        padding-left: 10px;
        
    }
     
}

@media(min-width: 1440px){
    .log-container {
        width: 40%;
     }

     .log-title{
         font-size: 55px;
     }

     
.formulario-login p{
    font-size: 24px;
    color: white;
    margin-bottom: 3px;
}

.ingresar{
    font-size: 24PX;
    padding: 3PX;
    width: 40PX;
}

.log-container .ingresar {
    width: 140px;
    font-size: 20px;

}
}
   
