<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <%- include("./partials/header.ejs") %> 
        <section class="sections-container">
             <div class="promociones">
                 <div class="sections-titles">
                    <a href="/categories/promociones">
                        <h2 class="sections-titles">PROMOCIONES</h2>
                    </a>
                 </div>
             </div>
             <div class="cervezas">
                <div class="sections-titles">
                    <a href="/categories/cervezas">
                        <h2 class="sections-titles">CERVEZAS</h2>
                    </a>
                </div>
            </div>
            <div class="vinos-espumantes">
                <div class="sections-titles">
                    <a href="/categories/vinos">
                        <h2 class="sections-titles">VINOS</h2>
                    </a>    
                </div>
            </div>
            <div class="aperitivos">
                <div class="sections-titles">
                    <a href="/categories/aperitivos">
                        <h2 class="sections-titles">APERITIVOS</h2>
                    </a>
                </div>
            </div>
            <div class="espirituosas">
                <div class="sections-titles">
                    <a href="/categories/espirituosas">
                        <h2 class="sections-titles">ESPIRITUOSAS</h2>
                    </a>
                </div>
            </div>
            

        </section>
        <%- include("./partials/footer.ejs") %>
    </main>
    <script src="/js/sweetAlert.js"></script>
</body>
</html>