<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRINKING TIME</title>
    
</head>
<body>
    <main>
        <header class="header-container">
            <div>
                <h1>Drinking time</h1>
                <img src="" alt="">
                <div class="button-loggin"></div>
                <div class="button-carrito"></div>
            </div>
            <div class="barra-de-busqueda">
                
            </div>

        </header>
        
        <section class="sections-container">
             <div class="sections"></div>
            

        </section>

        <footer>


        </footer>






    </main>

</body>
</html>