<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("./partials/head.ejs") %>


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">
            
            <section class="log-container">
                
                <h2 class="log-title">Iniciar sesión</h2>
                
                  
                
            
                <form class="formulario-login" action="/login" method="POST">
                        
                    <% if (typeof errors != 'undefined') { %>
                    
                        <p style="color: bisque;"> Revisa tus datos</p>
                        
                    <% } %>  

                    <p>Usuario:</p>
                    
                    <label for="email"></label>
                    <input type="email" name="email">
                        
                    <p>Contraseña:</p>
                    <label for="password"></label>
                    <input type="password" name="password" id="password">
                    <div >
                    <input type="checkbox" name="remember" id="remember" value="Recordarme" class="remember"> 
                    <br>
                    <label for="remember" style="color: white;">Recordarme</label>
                    </div>
                    
                    <input type="submit" value="ingresar" class="ingresar"> 
                    <br>
                    
                    <a href="/register" class="btn"> Registrarse</a>
                    <br>
                    <a href="#" class="btn">¿Olvidaste tu contraseña?</a>
                </form>

            </section>

        </div>

        <%- include("./partials/footer.ejs") %>
    </main>
    
</body>
</html>