<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/register.css">


<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="principal">

            <section class="log-container">

            
                <h1 class="log-title">Ingresá tus datos </h1>
        


                <form action="/register" method="POST" enctype="multipart/form-data" class="formulario-login">

                    <label for="email"></label>
                    <input placeholder="Ingrese su email" type="email" name="email" id="email">
                   

                    <label for="Contraseña"></label>
                    <input type="password" placeholder="Ingrese su contraseña" name="password" id="contraseña">
                    

                    <label for="confirm"></label>
                    <input type="password" name="confirmPass" placeholder="Confirme contraseña">
                    

                    <label for="name"></label>
                    <input placeholder="Nombre y apellido" name="name" type="text">

                    <br>
                    <label for="image" class="log-avatar">Ingresa tu Avatar </label>
                    <input type="file" id="image" name="image" class="log-avatar-imagen">
                    

                    <p>Fecha de Nacimiento</p>
                    <label for="nacimiento"></label>
                    <input type="date" placeholder="Nacimiento" name="nacimiento" id="Nacimiento">
                    <br>

                    <input type="submit" value="Registrarse" class="ingresar">
                </form>
            </section>
        </div>
        <%- include("./partials/footer.ejs") %>
    </main>
</body>